
        body {
            background-color: #f0f0f0; /* Cor de fundo suave */
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        form {
            background-color: white; /* Cor de fundo do formulário */
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
        }

        table {
            border-collapse: collapse;
            width: 50%;
            margin-top: 20px;
            background-color: white; /* Cor de fundo da tabela */
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 10px;
            text-align: left;
        }
   